mixin photoswipe()
  div.pswp(tabindex="-1" role="dialog" aria-hidden="true")

    div.pswp__bg
    div.pswp__scroll-wrap
        div.pswp__container
            div.pswp__item
            div.pswp__item
            div.pswp__item

        div.pswp__ui pswp__ui--hidden

            div.pswp__top-bar

                div.pswp__counter

                div.pswp__button.pswp__button--close(title="Close (Esc)")
                div.pswp__button.pswp__button--share(title="Share")
                div.pswp__button.pswp__button--fs(title="Toggle fullscreen")
                div.pswp__button.pswp__button--zoom(title="Zoom in/out")

                div.pswp__preloader
                    div.pswp__preloader__icn
                      div.pswp__preloader__cut
                        div.pswp__preloader__donut

            div.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                div.pswp__share-tooltip

            div.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
            div.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")

            div.pswp__caption
                div.pswp__caption__center
